[Unit]
Description=MySyslog Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/mysyslog-daemon
Restart=always

[Install]
WantedBy=multi-user.target
